*{
	margin:0px;
	font-family:arial;
}

html{
	height:100%;
}
body{
	height:100%;
	overflow: hidden;
}
.opac{
	opacity:0.6;
}
.layer{
	opacity:0.4;
	/*position:relative;*/
	/*position:absolute;*/
	/*left:35%;*/
	/*right:0;
	margin:0 auto;*/
}
#scene{
	z-index:3;
}
.layer img{
	/*height: 10%;*/
	width: 10%;
}
.one{
	margin: 0% 0% 0% 60%;
}
.two{
	margin: 5% 0% 0% -15%;
}
.three{
	margin: 20% 0% 0% 60%;
}
.four{
	margin: 13% 0% 0% 45%;
}
.five{
	margin: 25% 0% 0% 10%;
}
.six{
	margin: 10% 0% 0% 27%;
}
.seven{
	margin: 22% 0% 0% 32%;
}
.eight{
	margin: 17% 0% 0% 95%;
}
.nine{
	margin: 10% 0% 0% 87%;
}

#modal{
	position:absolute;
	top:40%;
	left:0;
	right:0;
	margin:0 auto;
	width:50%;
	min-height:30%;
	

}
.ui-dialog{
	/*width:40% !important;*/
	border:gray 3px solid;
	border-radius: 15px;
	padding:2%;
	z-index:100;
}
.ui-dialog-titlebar{
	/*height:100%;*/
}

.ui-dialog-titlebar-close {
	float:right;
}
.ui-button{
	height: 8%;
	background: transparent;
	border-style:none;
}
.ui-button img{
	height: 5%;
	/*width: 5%;*/
}

.cloud{
	
}

.cloud2{
	position:absolute;
	width:10%;
	height:25%;	
	left:0;
	right:0;
	bottom:10%;
	margin:0 auto;
/*	opacity:0.3;*/
	z-index:5;
	
}

.cloud2 h2{
	color:white;
	display:inline;
	/*width:25%;
	height:25%;*/
	opacity:0.8;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:25%;
	text-align:center;
}
.cloud h1{
	/*color:rgba(255, 255, 255, 1);*/
	display:inline;
	color:white;
	opacity:1;
	/*font-size:0.5em;*/
/*	width:20%;
	height:20%;*/
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:40%;
	
}
.cloud3{
	position:absolute;
	width:12%;
	height:25%;	
	left:0;
	right:0;
	bottom:10%;
	margin:0 auto;
	/*opacity:0.3;*/
	z-index:5;
	
}

.cloud3 h2{
	color:white;
	display:inline;
	/*width:50%;
	height:50%;*/
	opacity:0.8;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:25%;
	text-align:center;
}
.container{
	position:relative;
	background-image:url('smoke2.png');
	width:100%;
	height:100%;
	overflow:hidden;
	/*z-index:-10000;*/
}
#Vape{
	position:absolute;
	width:33%;
	height:33%;
	z-index:10;
	opacity:1;
	bottom:5%;
	left:0;
	right:0;
	margin:0 auto;
	/*opacity:0.5;*/
}
#Vape h1{
	color:white;
	opacity:1;
	width:100%;
	height:40%;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:10%;
	text-align:center;
}

ul{
	/*height:100%;
	width:100%;*/
	/*margin:0 auto;*/
	-webkit-padding-start:0;
	/*opacity:0;*/
	/*background:black;*/
}

li{
	display:inline-block; important
}

.opac img{
	height:20%;
	width:20%;
}
.signin{
	width:13%;
	padding:1%;
	float:right;
}
.signin form{
	width:80%;
}
.signin input{

	margin:2%;
}

#signin_button{
	margin-left:52%;
}

.signin p{
	margin-top:3%;
	color:white;
	display:block;
}


h2{
	color:white;
}
p{
	color: #C0C0C0;
}
.ui-dialog{
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 54%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(54%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	;
	opacity:0.7;
}