*{
	margin:0px;
	font-family:arial;
}

html{
	height:100%;
}
body{
	height:100%;
}
.opac{
	opacity:0.3;
}

.cloud{
	position:absolute;
	/*width:445px;
	height:142px;*/

	/*width:30%;*/
	height:25%;	
	left:0;
	right:0;
	bottom:0%;
	margin:0 auto;
	/*opacity:0.5;*/
	z-index:1;
	/*background-image: url("mycloud.svg");*/
}

.cloud2{
	position:absolute;
	/*width:20%;*/
	height:20%;	
	left:0;
	right:0;
	bottom:0%;
	margin:0 auto;
/*	opacity:0.3;*/
	z-index:1;
	
}

.cloud2 h2{
	color:white;
	display:inline;
	width:50%;
	height:50%;
	opacity:0.3;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:5%;
	text-align:center;
}
.cloud h1{
	/*color:rgba(255, 255, 255, 1);*/
	display:inline;
	color:white;
	opacity:1;
	/*font-size:0.5em;*/
/*	width:20%;
	height:20%;*/
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:40%;
	
}
.cloud3{
	position:absolute;
	/*width:20%;*/
	height:20%;	
	left:0;
	right:0;
	bottom:0%;
	margin:0 auto;
	/*opacity:0.3;*/
	z-index:1;
	
}

.cloud3 h2{
	color:white;
	display:inline;
	width:50%;
	height:50%;
	opacity:0.3;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:5%;
	text-align:center;
}
.container{
	position:relative;
	background:black;
	width:100%;
	height:100%;
}
#Vape{
	width:40%;
	height:25%;
	z-index:100;
	opacity:0.8;
	bottom:0%;
}
#Vape h1{
	color:white;
	opacity:1;
	width:100%;
	height:40%;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:10%;
	/*font-size:40px;*/
	text-align:center;

}


#Intro{
	
	
}